<!doctype html>
<html>

<head>
  <title>Node Sessions</title>
  <link rel="stylesheet" href="/css/main.css"/>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
  <table>
    <tr>
      <td>Create New Session</td>
      <td><button onclick='createSession()'>Make</button></td>
    </tr>
    <tr>
      <td>Delete Existing Session</td>
      <td><button onclick='deleteSession()'>Destroy</button></td>
    </tr>
    <tr>
      <td>Session ID:</td>
      <td><span id="session-id"></span></td>
    </tr>
    <tr>
      <td><button onclick="accessCheck()">Access Check</button></td>
      <td><span id="access-check"></span></td>
    </tr>
  </table>
</body>

<script>
function createSession()
{
  $.ajax({
    type: 'POST',
    url: '/session',
    statusCode: {
      200: function(data) {
        $("#session-id").text(data.sessionId)
      }
    }
  });
}

function deleteSession()
{
  $.ajax({
    type: 'DELETE',
    url: '/session',
    statusCode: {
      200: function() {
        $("#session-id").text(null)
      }
    }
  });
}

function accessCheck()
{
  $.ajax({
    type: 'GET',
    url: '/protected'
  }).always(function(data, status) {
    $("#access-check").text(status)
  })
}
</script>

</html>
